/* NAV CSS */

nav {
	width: 40%;
	margin: 30px auto;
}

nav ul {
	display: flex;
	justify-content: space-around;
	font-size: 25px;
	align-items: center;
}

li {
	list-style: none;
}
li a {
	text-decoration: none;
	color: black;
}
li:hover {
	background-color: black;
	padding: 5px 10px;
	border-radius: 20px;
	transition: all 0.3s ease-in;
}
li:hover a {
	color: white;
}
.search-li:hover {
	padding: 0;
	transition: none;
	background-color: white;
}

#taskForm {
	max-width: 30em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	line-height: 1.5em;
}
h1 {
	text-align: center;
}

#taskForm input,
button {
	padding: 0.5em;
	border-radius: 20px;
	border: 1px solid darkgray;
	cursor: pointer;
}

button {
	background-color: darkblue;
	color: white;
}

#taskForm textarea {
	border-radius: 20px;
	padding: 10px;
	border: 1px solid darkgray;
}

/* GET ALL TASK CSS */
.search-form form {
	display: flex;
	justify-content: center;
}
.search-wrapper {
	display: flex;
	border: 1px solid darkgray;
	padding: 0 1em;
	border-radius: 20px;
}
.search-wrapper input:focus {
	outline: none;
}
.search-form img {
	width: 1.5em;
}
.search-form input {
	padding: 1em;
	border-radius: 20px;
	border: none;
	font-size: 15px;
}
.search-form button {
	border: none;
	background-color: white;
	cursor: pointer;
}
.container {
	width: 70%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
}
.task-container {
	min-width: 10em;
	max-width: 20em;
	margin: 8px;
}

.task-options,
.task-title,
.task-desc {
	padding: 20px;
}
.task-title {
	background-color: beige;
	border-radius: 20px 20px 0 0;
}
.task-options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: beige;
	border-radius: 0 0 20px 20px;
}
.task-title {
	color: black;
}
.task-desc {
	background-color: teal;
}
.edit {
	flex-grow: 0;
}
.edit img,
.delete img {
	width: 1.5em;
}
.assigned-to {
	color: black;
	text-align: right;
	flex-grow: 0.5;
}
