/* NAV CSS */

nav {
  width: 40%;
  margin: 30px auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  align-items: center;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}
li:hover {
  background-color: black;
  padding: 5px 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in;
}
li:hover a {
  color: white;
}
.search-li:hover {
  padding: 0;
  transition: none;
  background-color: white;
}

#taskForm {
  max-width: 30em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}
h1 {
  text-align: center;
}

#taskForm input,
button {
  padding: 1em;
  border-radius: 20px;
  border: 1px solid darkgray;
  cursor: pointer;
  margin-bottom: 2px;
}

#taskForm label {
  margin-top: 10px;
}

button {
  background-color: darkblue;
  color: white;
}

#taskForm textarea {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid darkgray;
}

/* GET ALL TASK CSS */

.search-wrapper {
  display: flex;
  border: 1px solid darkgray;
  padding: 0 1em;
  border-radius: 20px;
}
.search-wrapper input:focus {
  outline: none;
}
.search-form img {
  width: 1.5em;
}
.search-form input {
  padding: 1em;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}
.search-form button {
  border: none;
  background-color: white;
  cursor: pointer;
}
.container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
}
.task-container {
  min-width: 20em;
  max-width: 30em;
  height: fit-content;
  margin: 8px;
  border-radius: 20px;
}
.task-container:hover {
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px gray;
}
.task-nav-right h4:last-child {
  margin-top: 8px;
  text-transform: uppercase;
}
.task-options,
.task-title,
.task-desc {
  padding: 20px;
}
.task-desc {
  min-height: 6em;
}
.task-title {
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-title h3 {
  width: 50%;
}
.task-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
}

.edit {
  flex-grow: 0;
}
.edit img,
.delete img {
  width: 1.5em;
}
.assigned-to {
  text-align: right;
  flex-grow: 0.5;
}

p {
  word-break: break-word;
}

.no-result {
  color: black;
}
.error-message {
  color: red;
}
.success-message {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}
